.footcomp {
  color: #fff;
}

.tell-and-mail {
  margin-top: 60px;
  margin-bottom: 60px;
}

.contact {
  width: 231px;
  &__list {
    margin-top: 20px;
    font-style: normal;
  }

  &__item {
    display: block;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  &__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }

  &__navi-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #fff;
    text-decoration: none;
  }
}

.join-box {
  margin-top: 72px;
  margin-left: 70px;
}

.subscribe {
  margin-top: 72px;
  margin-left: 93px;
}

.subscribe__input {
  width: 351px;
  height: 50px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  padding: 15px 16px;

  color: #fff;
  outline: none;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: #fff;
}
